## Seoul Dawn and Dusk Times

This notebook documents using the Astral package to calculate dawn and dusk times for Seoul between 01-12-2017 to 30-11-2018.

In [1]:
import pandas as pd

from astral.geocoder import lookup, database
from astral import LocationInfo
from astral.sun import sun
from zoneinfo import ZoneInfo
from datetime import time

In [2]:
# looking up location information for Seoul, Korea
lookup("Seoul", database())

LocationInfo(name='Seoul', region='Republic of Korea', timezone='Asia/Seoul', latitude=37.516666666666666, longitude=126.96666666666667)

In [3]:
# assigning the corresponding city, timezone and date range to variables
city = LocationInfo("Seoul", "Republic of Korea", "Asia/Seoul", 37.52, 126.967)
timezone = ZoneInfo("Asia/Seoul")
x = pd.date_range(start="2017-12-01",end="2018-11-30")

# creating a dataframe with sun data from the Astral package
sun_info = pd.DataFrame([sun(city.observer, date=z, tzinfo=timezone) for z in x])

In [4]:
# adding column for date to dataframe
sun_info['date'] = x
sun_info.head()

,dawn,sunrise,noon,sunset,dusk,date
0,2017-12-01 06:58:41.124894+09:00,2017-12-01 07:28:01.289175+09:00,2017-12-01 12:21:03+09:00,2017-12-01 17:13:57.993794+09:00,2017-12-01 17:43:18.063001+09:00,2017-12-01
1,2017-12-02 06:59:34.840849+09:00,2017-12-02 07:28:57.849712+09:00,2017-12-02 12:21:26+09:00,2017-12-02 17:13:47.679953+09:00,2017-12-02 17:43:10.603905+09:00,2017-12-02
2,2017-12-03 07:00:27.808583+09:00,2017-12-03 07:29:53.559426+09:00,2017-12-03 12:21:49+09:00,2017-12-03 17:13:39.450266+09:00,2017-12-03 17:43:05.125579+09:00,2017-12-03
3,2017-12-04 07:01:19.981740+09:00,2017-12-04 07:30:48.366537+09:00,2017-12-04 12:22:13+09:00,2017-12-04 17:13:33.309232+09:00,2017-12-04 17:43:01.627122+09:00,2017-12-04
4,2017-12-05 07:02:11.313759+09:00,2017-12-05 07:31:42.219195+09:00,2017-12-05 12:22:37+09:00,2017-12-05 17:13:29.259572+09:00,2017-12-05 17:43:00.106002+09:00,2017-12-05

In [5]:
sun_info.drop(['sunrise', 'noon', 'sunset'], axis=1, inplace=True)

In [6]:
# extracting time from dawn and dusk columns
sun_info.dawn = sun_info.dawn.map(lambda x: x.time())
sun_info.dusk = sun_info.dusk.map(lambda x: x.time())

In [7]:
sun_info.head()

              dawn             dusk       date
0  06:58:41.124894  17:43:18.063001 2017-12-01
1  06:59:34.840849  17:43:10.603905 2017-12-02
2  07:00:27.808583  17:43:05.125579 2017-12-03
3  07:01:19.981740  17:43:01.627122 2017-12-04
4  07:02:11.313759  17:43:00.106002 2017-12-05

In [8]:
sun_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dawn    365 non-null    object
 1   dusk    365 non-null    object
 2   date    365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 8.7+ KB

In [9]:
# saving dataframe to csv
sun_info.to_csv('./data/Sun_Info.csv')